@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  font-family: 'Muli', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 200;
  line-height: 1.58;
  letter-spacing: -.003em;
  font-size: 15px;
}

.content, .jumbotron {
    border-radius: 6px;
    box-shadow: 0px 2px 2px 0px grey;
    padding: 10px;
    margin: 8px;
}