@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  font-family: 'Muli', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 200;
  line-height: 1.58;
  letter-spacing: -.003em;
  font-size: 15px;
}

.content, .jumbotron {
    border-radius: 6px;
    box-shadow: 1px 5px 13px 5px rgba(8, 152, 255, 0.132);
    padding: 10px;
    margin: 8px;
    background-color: #ffffff;
}

h3 {
  margin-left: 1vw;
}

body {
  background-color: rgba(236, 236, 236, 0.835);
}

b {
  text-decoration: underline;
}

img {
  border-radius: 4px;
}

.title > a {
  font-size: larger;
  color: #ffffff;
  background-color: rgba(17, 148, 43, 0.892);
  padding: 1px 10px 1px 10px;
  border-radius: 8px;
}