{% extends 'posts/base.html' %}

{% block content %}
<div class="container">
    <div>
        <h4>{{ post.title }}</h4>

        <p>{{ post.pub_date_clean }}</p>

        <img src="{{ post.image.url }}" alt="..." class="img-responsive center-block" style="max-height:500px;">
        <br> 
        <a href="{% url 'home' %}" class="d-flex justify-content-end">Go Back</a>
        <div>
            <p>{{ post.body }}</p>
        </div>
    </div>

    <div>
        <a href="{% url 'home' %}">Go Back</a>
    </div>

    <div id="disqus_thread"></div>

    <script>

        var disqus_config = function () {
        this.page.identifier = 'post-{{ post.id }}';
        };

        (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://blog-vwy9w715pd.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();

    </script>

    <noscript>Please enable JavaScript to view the comments</noscript>

</div>

{% endblock %}